.title{
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}

.mx1 {
  margin-right: 10px;
  margin-left: 10px;
}

.p1 {
  padding: 8px;
}

.subtitle {
  text-align: center;
  font-size: larger;
  text-decoration: underline;
}

.container {
  border: 4px;
  border-style: solid;
  padding: 10px;
  margin: 0% 25%;
}

.pyscript {
  margin: 20px 25%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Joseph code below */
:root {
  --head-color: rgb(245, 245, 245);
  --break-info: 2px solid rgb(208, 208, 208);
}

body {
  margin: 0;
  padding: 0;
}

/* Heading Bar */

.head {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.top-bar {
  background-color: rgb(60, 144, 237);
  height: 20px;
  width: 100%;
  top: 0;
  left: 0;
}


.title-bar {
  display: flex;
  background-color: var(--head-color);
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: var(--break-info);
}

#root {
  position: absolute;
  left: 0;
  margin: 10px;
}

.center-title {
  margin: 0;
  padding: 0;
  text-align: center;
}


/* Body */

.two-col-page-body {
  display: flex;
  margin: 10px;
  margin-top: 65px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  
}

.two-col-page-body-col {
  width: 40%;
}

/* Prompt Box */
.toggle-list {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: block;
  visibility: hidden;
  width: 100%;
  box-sizing: border-box;
  max-height: 0px;
  background-color:rgb(245, 245, 245);
  z-index: 999;
  overflow: scroll;
  padding: 0 10px;
  transition: max-height 0.3s ease-in-out;
}


.check-element {
  display: block;
  margin: 10px 0;
}




.gpt-prompt-box {
  min-height: 20px;
  max-height: 100px;
  width: 100%;
  resize: none;
  overflow-y: auto;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Buttons */

.button-panel {
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: large;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: 0;
  border: 1px solid
}

.button.prompt {
  background-color:rgb(145, 183, 226);
  border: 1px solid rgb(25, 120, 229);
}

.button.prompt:hover {
  background-color:rgb(132, 167, 208);
}

.button.run {
  background-color:rgb(145, 226, 150);
  border: 1px solid rgb(6, 190, 25);
}

.button.run:hover {
  background-color:rgb(126, 199, 131);
}

.button.clear {
  background-color:rgb(226, 145, 145);
  border: 1px solid rgb(229, 25, 25);
}

.button.clear:hover {
  background-color:rgb(198, 129, 129);
}

#assumptionsBox {
  background-color:rgb(245, 245, 245);
  min-height: 50px;
  max-height: 300px;
  width: inherit;
  overflow: scroll;
  white-space: pre;
  padding: 5px;
}

#code-div {
  margin: 0;
}

#code-block {
  width:inherit;
  overflow: scroll;
  min-height: 200px;
  background-color: #f5f2f0;
  white-space: pre;
}

.page-bottom {
  background-color: var(--head-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  border-top: var(--break-info);
}

.show {
  display: block;
}